body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}



input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* .container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
} */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.parameters-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.actions-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.results-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.dimensions-section label {
    display: block;
    margin-bottom: 5px;
}

.dimension-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adjust as needed */
}

.dimension-inputs input {
    flex: 1; /* Each input will take equal space */
}
